html, body, .container {
    background: #ffffff;
    color: #353535;
    font-family: Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
}
p {
    margin-top: 0;
    margin-bottom: 20px;
    color: #353535;
}
a {
    text-decoration: underline;
    color: #da2128;
}

.footer{
    border: 1px solid #ececec;
    font-size: 11px;
    color: #838383;
    line-height: 20px;
}
    .footer p{
        font-size: 11px;
        color: #838383;
        line-height: 20px;
    }
    .footer a{
        color: #838383;
        text-decoration: underline;
    }
.disclaimer{
    color: #546a75;
    font-size: 12px;
}


#content{
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

    #content p{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

.spacer-hr{
    border-bottom: 1px solid #ececec;
}
.spacer-hr-top{
    border-top: 1px solid #ececec;
}
.spacer-row{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.spacer-row-small{
    height: 10px;
    line-height: 10px;
    overflow: hidden;
}
.spacer-gif{
    height: 30px;
    width: 50px;
    vertical-align: top;
}