
$text-headings  : #1d1f21;
$text-dark      : #2b2b2b;
$text-footer    : #838383;

$bg             : #fcfcfc;
$lines          : #ececec;
$borders        : #eaeaea;
$buttons        : #1d1f21;

$textalign      : center;
$font           : "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
