doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
html(lang="nl")
  head
      title #{data.title}
      meta(http-equiv="imagetoolbar", content="no")

      link(rel='stylesheet', href='css/styles.css')

      style(type="text/css") #{head_css}

  body
      #container
          table#main(width='100%', cellspacing='0', cellpadding='0', border='0')
            tr
              td &nbsp;
              td#container-width(width='600')

                // header
                table#header(width='100%', cellspacing='0', cellpadding='0', border='0')
                  tr: td.spacer-row-small  
                  tr
                    td(align='left')
                      a#logo-link(href='#{data.website.href}')
                        img#logo(src='http://placehold.it/200x150/407BBF/ffffff', width='200', height='150', alt='#{data.title}')
                  tr: td.spacer-row(colspan='3')

                // content
                table#content(width='100%', cellspacing='0', cellpadding='0', border='0', bgcolor='#ffffff')
                  tr: td.spacer-row(colspan='3')

                  // intro
                  tr
                    td.spacer(width='20')
                    td
                      block intro
                    td.spacer(width='20')
                  

                  // content
                  tr: td.spacer(colspan='3')
                  block content
                  tr: td.spacer(colspan='3')


                // footer icons
                table.footer.footer-icons(width='100%', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
                  tr: td(height='15', colspan='5')
                  tr
                    td.spacer(width='20')
                    td 
                      block footer-icons
                    td.spacer(width='20')
                  tr: td(height='15', colspan='5')


                // footer
                table.footer(width='100%', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
                  tr: td(height='15', colspan='5')
                  tr
                    td.spacer(width='20')
                    block footer
                    td.spacer(width='20')

              td &nbsp;
            tr: td(height='30', colspan='3')